.gallery {
    margin: 50px 5% 0 5%;
    padding-bottom: 50px;
    background: #F6F6F6;
    border-radius: 25px;
    /*display: grid;
    grid-template-columns:340px 340px 340px;*/
    justify-content: space-evenly;
    flex-wrap: wrap;
    display: flex;
    
}

.card {
    display: flex;
    margin-top: 50px;
    position: relative;
    color: white;
    flex-wrap: wrap;
    flex-basis: 28%;
    h2 {
        position: absolute;
        top:80%;
        left:5%;
        font-family: Montserrat;
        font-weight: 700;
        font-style: Bold;
        font-size: 18px;
        margin: 0;
        max-width: 340px;
    }
   
}

.card:after {
    position: absolute;
    content:"";
    height:100%;
    width:100%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(10, 10, 10, 0) 42%, rgba(4, 4, 4, 0.205) 99.99%, rgba(0, 0, 0, 0.5) 100%);
}




.imgCard{
    display: flex;
    width: 100%;
    height: auto;
    max-height: 340px;
    border-radius: 10px;
    object-fit: cover;
    opacity: 1;
}